
{% if is_detail_page %}
    <div class="list-item-actions" style="margin-top:1rem;">
        <div class="list-item-action-button">
            <a href="#" class="list-item-action-button-link two" title="edit-item"><i class="fa-solid fa-pencil"></i></a>
        </div>
        <div class="list-item-action-button">
            <a href="#" class="list-item-action-button-link three " title="delete-item"><i class="fa-solid fa-trash"></i></a>
        </div>
    </div>
    
    <div class="detail list-item border">
        <div class="detail list-item-content">
            {% if task.checked %}
            <p class="detail list-item-text">Status: <span>Done</span></p>
            {% else %}
            <p class="detail list-item-text">Status: <span>Not done</span></p>
            {% endif %}
        </div>
    </div>
    <div class="detail list-item border">
        <div class="detail list-item-content">
            {% if task.is_past_deadline %}
            <p class="detail list-item-text">Deadline Status: <span>Past</span></p>
            {% else %}
            <p class="detail list-item-text">Deadline Status: <span>Not past</span></p>
            {% endif %}
        </div>
    </div>
    <div class="detail list-item border">
        <div class="detail list-item-content">
            <p class="detail list-item-text">Name: <span>{{ task.title }} </span></p>
        </div>
    </div>
    <div class="detail list-item border">
        <div class="detail list-item-content">
            <p class="detail list-item-text">Description: <span>{{ task.description }} </span></p>
        </div>
    </div>
    <div class="detail list-item border">
        <div class="detail list-item-content">
            <p class="detail list-item-text time">Deadline: <span>{{ task.deadline }} </span></p>
        </div>
    </div>
    <div class="detail list-item border">
        <div class="detail list-item-content">
            <p class="detail list-item-text time">Author: <span>{{ task.author.username }} </span></p>
        </div>
    </div>
{% else %}
    {% if task.is_past_deadline %}
    {% if task.checked %}
    <div class="list-item border checked is-past-deadline">
    {% else %}
    <div class="list-item border is-past-deadline">
    {% endif %}
    {% else %}
    {% if task.checked %}
    <div class="list-item border checked">
    {% else %}
    <div class="list-item border">
    {% endif %}
    {% endif %}
    
        <div class="list-item-content">
            <p class="list-item-text">
                {{ task.title }}
            </p>
        </div>
        <div class="list-item-actions">
            <div class="list-item-action-button">
                <a href="#" class="list-item-action-button-link one" title="check-item"><i class="fa-solid fa-check"></i></a>
            </div>
            <div class="list-item-action-button">
                <a href="{% url 'todolist:detail' task.pk %}" class="list-item-action-button-link two" title="details"><i class="fa-solid fa-info"></i></a>
            </div>
            <div class="list-item-action-button">
                <a href="#" class="list-item-action-button-link three " title="delete-item"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
    </div>
{% endif %}

