<div class="container">
    {% if is_search_page %}
    <form action="{% url 'todolist:search' %}" method="GET" class="search-form focus">
    {% else %}
    <form action="{% url 'todolist:search' %}" method="GET" class="search-form">
    {% endif %}
        <input type="search" class="search-input border" name="q" value="{{ search_term }}" required>
        <button type="submit" class="search-button border"><i class="fa-solid fa-search "></i></button>
    </form>
    <div class="create-new-item-button ">
        <a href="{% url 'todolist:register_task' %}" class="create-new-item-button-link button" title="create-new-item"><i class="fa-solid fa-plus"></i></a>
    </div>
</div>