{% load static %}
{% if is_detail_page %}
<div class="todolist-container">
    <div class="todolist container border detail">
        <h2>{{task.title}}</h2>
        <div class="list-itens detail">
            {% include "todolist/partials/list_item.html" %}
        </div>
    </div>
</div>
{% else %}
    <div class="todolist-header-container">
        {% include "todolist/partials/search.html" %}
    </div>
    <div class="todolist-container">
        <div class="todolist container border">
            <h2>ToDoList</h2>
            <div class="list-itens">
                {% for task in tasks %}
                    {% include "todolist/partials/list_item.html" %}
                {% empty %}
                    <p>No task found here 😥.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<script src="{% static 'global/js/action_buttons.js' %}"></script>