:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-header:#1b1f4b;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;
    --color-white: #dfdfdf;
    --color-black: #000;
    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;
    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #b39c53;
    --color-error-dark: #da525d;
    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;
    --search-focus-color:#E8F0FE;
    --font-primary: sans-serif;
    --font-headings: sans-serif;
    --spacing-gutter-small: 2rem;
    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.border{
    border-radius: 1rem;
}
body{
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-primary-dark);
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--font-headings);
}
.container{
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}
.header-container{
    background: var(--color-primary-dark-header);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header.no-user{
    justify-content: center;
}
.header .logo{
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacing-gutter-small);
    font-size: 2.4rem;
}
.header .logo.no-user{
    font-size: 3rem;
}
.button{
    cursor: pointer;
    font-size: 1.8rem;
    width: 6rem;
    height: 4rem;
    border-radius: 10px;
    transition: all .3s ease;
}
.header form .logout-button{
    border: none;
    background-color: var(--color-error-dark);
    
    color: var(--color-white);
   
    position: relative;
}
.button:hover{
    transform: scale(1.06);
}
/* search */
.todolist-header-container .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-gutter-small);
}
.create-new-item-button-link{
    background:var(--color-success-dark);
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    text-decoration: none;
}

.search-form{
    max-width: 64rem;
    width: 100%;
    border-radius: .4rem;
    position: relative;
    transition: all .3s ease-in-out;
}
.search-input, .search-button{
    border: 1px solid var(--color-primary-dark-header);
    outline: none;
    padding: 1rem;
    transition: all .3s ease-in-out;
    background: var(--color-primary-dark-header);
}
.search-input{
    width: 100%;
    padding-right: 4rem;
    padding-left: 1rem;
}
.search-button{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: var(--color-white); 
    z-index: 1;
}
.search-button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -3px;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-dark-header);
    z-index: -1;
}
.search-form:focus-within .search-input{
    background: var(--search-focus-color);
}
/*main*/
.main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
}
.main .main_menssage{
    text-align: center;
    color: var(--color-white);
    font-size: 2.4rem;
}
/*todolist*/
.todolist{
    max-width: 70rem;
    width: 100%;
    max-height: 43rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: var(--spacing-gutter-small);
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-primary-dark-header);   
}
.todolist .list-itens{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-gutter-medium);
    overflow-y: auto;
    padding-right: 1rem;
}
.todolist .list-itens > p{
    font-size: 2rem;
    padding-bottom: 30rem;
}
.list-itens::-webkit-scrollbar{
    background-color: var(--color-primary-dark);
    width: 1rem;
}
.list-itens::-webkit-scrollbar-thumb{
    background-color: var(--color-white);
    border: 3px solid var(--color-primary-dark);
    width: 1rem;
}

.todolist .list-item{
    padding: var(--spacing-gutter-small);
    width: 100%;
    max-height: 5.8rem;
    display: flex;
    background-color: var(--color-primary-dark);
    justify-content: space-between;
    align-items: center;
}

.list-item-actions{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:var(--spacing-gutter-small);
    z-index: 999;
}

.list-item-actions .list-item-action-button-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-white);
    transition: all .2s ease;
    z-index: 999;
}
.list-item-action-button-link.one{
    background: var(--color-success-dark);
}
.list-item-action-button-link.two{
    background: var(--color-warning-dark);
}

.list-item-action-button-link.three{
    background: var(--color-error-dark);
}
.list-item-action-button-link:hover{
    transform: scale(1.1);
}
.list-item-text{
    font-size: 2.3rem;
    position: relative;
    padding: 0 .5rem;
}

.list-item-text::before{
    content: '';
    position: absolute;
    width: 0;
    height: 2.5px;
    background: var(--color-white);
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 1s ease;
}
.list-item-text:hover::before{
    width: 100%;
}
/*Detail*/
.todolist.detail{
    max-width: 70rem;
    width: 100%;
    max-height: none;
}
.todolist .list-item.detail{
    width: 100%;
    max-height: none;
}
.list-item-text.time.detail{
    margin-bottom: .5rem;
}
.list-item-text.detail{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.682);
}
.list-item-text.detail span{
    font-size: 2rem;
    margin-left: .3rem;
    color: var(--color-white);
}

.list-item-text.detail::before{
    content: '';
    display: none;
}

/*forms*/
 .form{
    background-color: var(--color-primary-dark-header);
    padding: var(--spacing-gutter-large) ;
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
}

.form-content {
    max-width: 64rem;
    margin: 0 auto;
    
  }
  .form-content label,
  .form-content .help-text,
  .errorlist {
    display: block;
    margin: 0.5rem 0;
    font-size: 1.4rem;
    list-style-type: none;
    color: var(--color-gray-2);
  }
  .errorlist {
    color: var(--color-error-dark);
  }
  .form-content input {
    width: 100%;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 1px solid var(--color-primary-dark);
    transition: all .3s ease-in-out;
    background: var(--search-focus-color);
  }
  
  .form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: calc(var(--spacing-gutter-medium) / 2) var(--spacing-gutter-medium);
  }
  .form-content button {
    padding: 1rem 2rem;
    width: 100%;
    border: none;
    background: var(--color-primary-dark);
    color: var(--color-white);
    font-size: 1.5rem;
    transition: all .3s ease;
    cursor: pointer;
    margin: 0 auto;
    margin-top: var(--spacing-gutter-medium);
  }
  .form-content button:hover{
    transform: scale(1.01);
  }
 /* Messages */
.messages-container {
    display: flex;
    flex-flow: column nowrap;
    gap: calc(var(--spacing-gutter-medium) / 2);
    max-width: 30rem;
    width: 100%;
    position: fixed;
    top: 80px;
    right: 0;
  }
.message {
    padding: 0;
    padding-left: 1.5rem;
    border-radius: 4px;
    border: 1px solid var(--color-dark-text);
    background: var(--color-gray-2);
    color: var(--color-dark-text);
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .message-error {
    border: 1px solid var(--color-error-dark);
    background: var(--color-error-light);
    color: var(--color-error-dark);
  }
  .message-success {
    border: 1px solid var(--color-success-dark);
    background: var(--color-success-light);
    color: var(--color-success-dark);
  }
  .message-warning {
    border: 1px solid var(--color-warning-dark);
    background: var(--color-warning-light);
    color: var(--color-warning-dark);
  }
  .message-alert {
    border: 1px solid var(--color-alert-dark);
    background: var(--color-alert-light);
    color: var(--color-alert-dark);
  }
  .message-info {
    border: 1px solid var(--color-info-dark);
    background: var(--color-info-light);
    color: var(--color-info-dark);
  }
  .message-debug {
    border: 1px solid var(--color-debug-dark);
    background: var(--color-debug-light);
    color: var(--color-debug-dark);
  }
  .close-button {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 800;
    color: rgba(0, 0, 0, 0.296);
    background: rgba(211, 211, 211, 0.493);
    border: 2px solid rgba(103, 103, 103, 0.49);
    
    width: 4rem;
    height: 4rem;
  }
@media screen and (max-width: 600px){
    .main{
        padding: var(--spacing-gutter-medium) 0rem;
    }
    .form-container{
        padding: var(--spacing-gutter-medium);
    }
    .todolist .list-item .list-item-actions{
        gap:.8rem;
    }
    .todolist .list-item .list-item-actions .list-item-action-button-link{
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.3rem;
    }
    .todolist{
        border-radius: 0;  
        padding: var(--spacing-gutter-medium) 1.2rem;
    }
    .header .logo{
        font-size: 1.7rem;
    }
    .button{
        font-size: 1.4rem;
        width: 4rem;
        height: 3rem;
        border-radius: 5px;
    }
    .todolist-header-container .container{
        gap: 1rem;
        padding: var(--spacing-gutter-medium) 1rem;
    }
    .list-item-text.detail{
        font-size: 2rem;
    }
    .list-item-text.detail span{
        font-size: 1.8rem;
    }
}
@media screen and (max-width: 300px){
    .todolist .list-item .list-item-actions{
        gap:.4rem;
    }
    .todolist .list-item .list-item-actions .list-item-action-button-link{
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
    .header .logo{
        font-size: 1.4rem;
        gap: .5rem;
    }
    .button{
        font-size: 1rem;
        width: 3rem;
        height: 3rem;
        border-radius: 5px;
    }
    .todolist-header-container .container{
        gap: .5rem;
        padding: var(--spacing-gutter-medium) 1rem;
    }
    .main .main_menssage{
        font-size: 1.4rem;
    }
    .list-item-text{
        font-size: 1.4rem;
    }
}

